# Build artifacts
bin/
obj/
build/
publish/

# Fichiers de configuration locaux (contiennent des secrets)
appsettings.json

# Fichiers téléchargés (sauf le .gitkeep)
output/*
!output/.gitkeep

# Fichiers Visual Studio / JetBrains
*.user
*.suo
.vs/
.idea/

# Logs Serilog
logs/
*.log
